{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h1 class="page-title">All Posts</h1>

    <!-- Displaying Posts -->
    <div class="posts-list">
        {% for post in posts %}
            <article class="post">
                <h2 class="post-title">
                    <a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a>
                </h2>
                
                {% if post.thumbnail_image %}
                    <img class="post-thumbnail" src="{{ post.thumbnail_image.url }}" alt="{{ post.title }}">
                {% endif %}
                
                <p class="post-summary">{{ post.text|slice:":200" }}...</p>

                <div class="author-info">
                    {% if post.author.profile_picture %}
                        <img src="{{ post.author.profile_picture.url }}" alt="{{ post.author.username }}" class="profile-img rounded-circle" style="width: 50px; height: 50px;">
                    {% else %}
                        <img src="{% static 'blog/icons/default_profile.jpg' %}" alt="{{ post.author.username }}" class="profile-img rounded-circle" style="width: 50px; height: 50px;">
                    {% endif %}
                    
                </div>

                <div class="post-meta">
                    <p class="post-author">
                        <strong>Author: </strong><a href="{% url 'blog:author_filter' author_username=post.author.username %}">{{ post.author.username }}</a>
                    </p>
                    {% if post.category %}
                        <p><strong>Category:</strong> <a href="?category={{ post.category.slug }}">{{ post.category.name }}</a></p>
                    {% endif %}
                    {% if post.tags %}
                        <p><strong>Tags:</strong> 
                            {% for tag in post.tags.all %}
                                <a href="?tag={{ tag.slug }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>

                <p class="post-date">
                    Published on: {{ post.published_date|date:"F j, Y, g:i a" }}
                </p>
            </article>
        {% endfor %}
    </div>

    <!-- Pagination Links -->
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
